/* IMAGEN Y TEXTO PÁGINA INICIO */
.contenedor {
	background-image: url(../img/servicios/servicios.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 100% 40%;
	padding: 0 2rem;
	position: relative;
}

.caja {
	background-color: rgba(0, 0, 0, 0.5);
	padding: 13.75rem 0.625rem;
	position: relative;
	width: 30%;
}

.titulo {
	color: #fff;
	font-size: 1.25rem;
	text-align: center;
	letter-spacing: 0.09em;
	line-height: 1.2em;
	margin-bottom: 1.25rem;
}

.subtitulo {
	color: #fff;
	font-size: 1.25rem;
	line-height: 1.2em;
	text-align: center;
	margin-bottom: 0.3125rem;
}

/* SERVICIOS */
.titulo2 {
	text-align: center;
	font-family: 'Merriweather', serif;
	color: #9eafa2;
	font-size: 2.25rem;
	margin: 1.5rem 5rem;
}

.text {
	color: #af9eab;
	font-size: 2rem;
	text-align: center;

}

.carousel {
	width: 70%;
	height: 40rem;
	overflow: hidden;
	margin: 0 auto;
	position: relative;
}

.slides {
	margin-top: 2rem;
	display: flex;
	position: absolute;
	width: 100%;
	height: 100%;
}

.slide {
	width: 100%;
	height: 100%;
}

.slide img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.indicators {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	bottom: 10px;
	width: 100%;
}

.indicator {
	width: 10px;
	height: 10px;
	border-radius: 50%;
	margin: 0 10px;
	background-color: rgba(255, 255, 255, 0.5);
	cursor: pointer;
}

.indicator.active {
	background-color: white;
}

.control {
	position: absolute;
	top: 65%;
	transform: translateY(-50%);
	font-size: 36px;
	color: #fff;
	background: rgba(0, 0, 0, 0.2);
	padding: 50px 20px;
	cursor: pointer;
}

.prev {
	left: 0;
}

.next {
	right: 0;
}

/* ANIMAACIÓN SERVICIOS */
.overlay {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #af9eab;
	overflow: hidden;
	width: 100%;
	height: 0;
	transition: .5s ease;
}

.overlay-hovered {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba( 158, 175, 162,	0.7);
	overflow: hidden;
	width: 100%;
	height: 94%;
	transition: .5s ease;
}

.text-overlay {
	color: white;
	font-size: 20px;
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}